[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=mferrante
WorkingDirectory=/home/mferrante/sites/SITENAME/source
ExecStart=/home/mferrante/sites/SITENAME/virtualenv/bin/gunicorn \
    --bind unix:/tmp/SITENAME.socket \
    test_project.wsgi:application

[Install]
WantedBy=multi-user.target
